.clear {
    margin-top: 10px;
}

.table {
    margin-top: 20px;
}

.table>tbody>tr>td {
    vertical-align: middle;
}

a {
    cursor: pointer;
}

.checkbox {
    min-height: 10px;
}

#transcript {
    border-left: 1px solid grey;
    font-size: 12px;
    overflow-x: auto;
}

#account {
    width: 300px;
}

#core {
    float: left;
    margin-left: 10px;
    width: 20px;
}

label[for="core"] {
    margin-right: 10px;
}
